<!DOCTYPE html>
<html lang="en">
<% 
        if (env === 'dev') { path = 'dist/' } else { path = '/' } 
        include('../_data.ejs');
      %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>КП</title>
    <link rel="stylesheet" type="text/css" href="<%- path %>main.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,600i,700,900&display=swap&subset=cyrillic"
        rel="stylesheet">
</head>

<body>
    <section class="page-1">
        <header class="header">
            <div class="header_item"></div>
            <div class="header_item2"></div>
            <div class="header_left">
                <span>Для предпринимателей, руководителей отделов, HR-менеджеров — всех тех, кому нужны сотрудники в
                    компанию</span>
            </div>
            <div class="header_right">
                <div class="phone">
                    <img src="\images\icon\phone.svg" alt="">
                    <span>+74951282015</span>
                </div>
                <div class="email">
                    <img src="\images\icon\calendar.svg" alt="">
                    <span>kruting@icoach.io</span>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="content_top">
                <h1 class="title">
                    <span class="first">
                        КоммеРческое
                    </span> <span class="two">
                        предложение
                    </span>
                </h1>
                <div class="description">
                    <span>
                        по закрытию вакансий и созданию профессиональных команд с помощью рекрутингового агентства
                        «Крутинг»
                    </span>
                </div>
            </div>

        </div>
        <div class="bottom">
            <div class="around">
                <div class="title">
                    КРУТИНГ
                </div>
            </div>
        </div>
    </section>
    <section class="page-2">
        <div class="page-2_header">
            <div class="header_item"></div>
            <div class="header_item2"></div>
            <div class="text">
                <div class="title">
                    <div class="big">Привет!</div>
                    Мы рекрутинговое агентство «Крутинг».
                </div>
                <div class="description">
                    Наше агентство помогает быстро создавать профессиональные команды любому бизнесу.
                </div>
            </div>
            <img src="\images\icon\rubaha.svg" alt="">
        </div>
        <div class="page-2_center">
            <div class="text">
                <div class="title">
                    В конкурентной борьбе побеждает бизнес с самой сильной командой
                </div>
                <div class="description">
                    Мы предлагаем вам завладеть мощными человеческими ресурсами. Наша цель — помочь вашему бизнесу стать
                    сильнее и победить
                </div>
            </div>

        </div>
        <div class="page-2_bottom">
            <img src="\images\icon\people.svg" alt="">
            <div class="description">
                Нам нравится состыковать компании с нужными людьми с целью достижения синергии. Рекрутинг — это наша
                страсть. Мы найдём для вас лучших сотрудников, которые останутся в компании надолго!
            </div>
        </div>
    </section>
    <section class="page-3">
        <div class="page-3_header">
            <div class="header_item"></div>
            <div class="header_item2"></div>
            <div class="text">
                <div class="title">
                    ЧТО МЫ ПРЕДЛАГАЕМ?
                </div>
                <div class="description">
                    «Крутинг» предоставляет услуги по закрытию вакансий и созданию крутых команд.
                </div>
            </div>
            <!-- <img src="\images\icon\rubaha.svg" alt=""> -->
        </div>
        <div class="page-3_center">
            <div class="title">
                Наша команда заточена на поиск
                <span>профессионалов в сфере продаж и диджитал</span>
            </div>
            <div class="description">
                Мы набираем специалистов всех уровней — от рядовых сотрудников до ТОПов. Да вообще, можем собрать целый
                отдел. Мы работаем в той области, в которой сами являемся профессионалами, и можем выполнить работу
                быстро и на 100%.
            </div>
        </div>
        <div class="page-3_bottom">
            <img src="\images\peopls.svg" alt="">
            <div class="title">
                Доверьте нам поиск своих сотрудников, и мы закроем вакансии в короткие сроки!
            </div>
        </div>
    </section>
    <section class="page-4">
        <div class="header">
            <div class="header_item"></div>
            <div class="header_item2"></div>
            <div class="text">
                <div class="title">
                    В чем ваша уникальность?
                </div>
            </div>
        </div>
        <div class="center">
            <ul>
                <li>
                    <img src="images\icon\star.svg" alt="">
                    <div class="text">
                        <div class="title">
                            Проверяем каждого кандидата на соответствие корпоративным ценностям компании
                        </div>
                        <div class="description">
                            Делаем это еще до определения квалификации и профессиональных качеств кандидата — мы
                            нацелены на создание крепких рабочих отношений.
                        </div>
                    </div>

                </li>
                <li>
                    <img src="images\icon\star.svg" alt="">
                    <div class="text">
                        <div class="title">
                            Подбираем сотрудников, которые стопроцентно соответствует заданным критериям
                        </div>
                        <div class="description">
                            Мы строим сильные команды — у нас нет цели «лишь бы закрыть вакансию, а кем — неважно».
                        </div>
                    </div>

                </li>
                <li>
                    <img src="images\icon\star.svg" alt="">
                    <div class="text">
                        <div class="title">
                            Берём качеством — не более 5 вакансий в месяц
                        </div>
                        <div class="description">
                            Ваша вакансия просто не сможет потеряться среди остальных, потому что мы берём на закрытие
                            максимум 5 вакансий в месяц.
                        </div>
                    </div>

                </li>
                <li>
                    <img src="images\icon\star.svg" alt="">
                    <div class="text">
                        <div class="title">
                            Помогаем новому сотруднику адаптироваться
                        </div>
                        <div class="description">
                            В течение гарантийного срока мы поддерживаем нового сотрудника и помогаем влиться в
                            коллектив.
                        </div>
                    </div>

                </li>
                <li>
                    <img src="images\icon\star.svg" alt="">
                    <div class="text">
                        <div class="title">
                            Готовы заменить сотрудника в течение гарантийного срока
                        </div>
                        <div class="description">
                            Если вы не сработаетесь, мы можем заменить сотрудника в течение гарантийного срока после
                            приёма на работу. Да, мы работаем до конца, а не забываем о наших клиентах после получения
                            оплаты.
                        </div>
                    </div>

                </li>
                <li>
                    <img src="images\icon\star.svg" alt="">
                    <div class="text">
                        <div class="title">
                            Делаем скидку до 50% при массовом подборе
                        </div>
                        <div class="description">
                            Если вам нужно закрыть ещё одну такую же вакансию, то делаем скидку в 25%. А если таких
                            однотипных вакансий будет больше двух, то скидка будет составлять уже 50%.
                        </div>
                    </div>

                </li>
                <li>
                    <img src="images\icon\star.svg" alt="">
                    <div class="text">
                        <div class="title">
                            Предоставляем дополнительные услуги
                        </div>
                        <div class="description">
                            Можем предоставить вам дополнительные услуги за доплату — например, аутсорс или срочный
                            подбор.
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </section>
    <section class="page-5">
        <div class="header">
            <div class="header_item"></div>
            <div class="header_item2"></div>
            <div class="text">
                <div class="title">
                    КАК БУДЕМ СОТРУДНИЧАТЬ С ВАМИ?
                </div>
                <div class="description">
                    Итак, вы решили воспользоваться нашими услугами. Какие этапы сотрудничества ожидают вас:
                </div>
            </div>
        </div>
        <div class="center">
            <ul>
                <li>
                    <div class="number">
                        01
                        <div class="border"></div>
                    </div>
                    <div class="text">
                        <div class="title">
                            Проводим брифинг — узнаём ценности компании и прописываем портрет кандидата
                        </div>
                        <div class="description">
                            Назначаем руководителя проекта, который будет напрямую работать с вами и согласовывать все
                            моменты. Он проведёт брифинг длительностью 40–60 минут. Так мы узнаём ценности компании,
                            пропишем портрет кандидата и обговорим все условия, которые впоследствии отразим в договоре.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="number">
                        02
                        <div class="border"></div>
                    </div>
                    <div class="text">
                        <div class="title">
                            Составляем воронку поиска сотрудников
                        </div>
                        <div class="description">
                            Воронка — то, каким образом будем осуществлять отбор кандидатов для вас: например, только по
                            резюме, либо с проведением собеседований; с выполнением профессиональных тестов, либо без.
                            Воронка составляется на основе ваших пожеланий и требований вакансии. Например, если не
                            хотите собеседовать кандидатов самостоятельно, можем записать на видео проводимые нами
                            интервью и прислать вам. Если в процессе работы понимаем, что воронка не работает, то
                            заменим её с обоюдного согласия.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="number">
                        03
                        <div class="border"></div>
                    </div>
                    <div class="text">
                        <div class="title">
                            Подписываем договор и получаем от вас предоплату в размере 30% от суммы договора
                        </div>
                        <div class="description">
                            Подготавливаем договор на основе утверждённых на брифинге условий, а также воронки поиска, и
                            согласовываем с вами. Мы индивидуально подходим ко всем клиентам, поэтому договор не
                            типовой, а составлен с учётом ваших пожеланий о сотрудничестве. Далее подписываем договор, и
                            вы вносите предоплату. Мы не просим клиентов о стопроцентной предоплате, потому что хотим
                            подтвердить делом свой заработок: чем быстрее закроем вакансии, тем быстрее получим
                            вознаграждение.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="number">
                        04
                        <div class="border"></div>
                    </div>
                    <div class="text">
                        <div class="title">
                            Предоставляем первых кандидатов на выбор в течение 5 дней с момента получения предоплаты
                        </div>
                        <div class="description">
                            Начинаем искать сотрудников по составленному портрету и проводим собеседования. В течение 5
                            дней с момента получения предоплаты направляем вам на выбор подходящих кандидатов в
                            количестве, указанном в договоре. Эта партия кандидатов — «тестовая».
                        </div>
                    </div>
                </li>
                <li>
                    <div class="number">
                        05
                        <div class="border"></div>
                    </div>
                    <div class="text">
                        <div class="title">
                            Получаем обратную связь о соответствии кандидатов вашим требованиям
                        </div>
                        <div class="description">
                            Вы рассматриваете кандидатов, выбираете и даёте обратную связь, соответствуют ли они вашим
                            представлениям о необходимом сотруднике. Если понимаете, что возникли дополнительные
                            требования, то сообщаете нам.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="number">
                        06
                        <div class="border"></div>
                    </div>
                    <div class="text">
                        <div class="title">
                            Корректируем условия поиска и предоставляем новых кандидатов
                        </div>
                        <div class="description">
                            Наша цель — помочь, а не закрыть вакансию абы кем, поэтому готовы корректировать условия
                            поиска и подбирать претендентов по новой. Мы найдём сотрудников по уточнённым критериям и
                            пришлём их на выбор.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="number">
                        07
                        <div class="border"></div>
                    </div>
                    <div class="text">
                        <div class="title">
                            Получаем оплату и ожидаем обратную связь в течение гарантийного срока
                        </div>
                        <div class="description">
                            Как только выбранный сотрудник выходит на работу и отрабатывает 5 рабочих дней, вы
                            оплачиваете остаток суммы по договору. После чего начинается гарантийный срок — один или два
                            месяца в зависимости от сложности вакансии. В течение этого времени вы можете попросить
                            заменить сотрудника — сделаем это без вопросов! При необходимости сможем скорректировать
                            вакансию и найти подходящих кандидатов.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="number">
                        08
                        <div class="border"></div>
                    </div>
                    <div class="text">
                        <div class="title">
                            Проводим адаптацию нового сотрудника во время гарантийного срока
                        </div>
                        <div class="description">
                            Во время гарантийного периода наш рекрутёр поддерживает отношения с кандидатом, а также
                            сотруднику помогают внутри компании — так проходит адаптация. Мы не бросаем клиентов после
                            получения оплаты, потому что наша ценность — это долгосрочные и крепкие отношения!
                        </div>
                        <div class="header_item"></div>
                        <div class="header_item2"></div>
                    </div>
                </li>

            </ul>
        </div>
    </section>
    <section class="page-6">
        <div class="top">
            <div class="header">
                <div class="header_item"></div>
                <div class="header_item2"></div>
                <div class="text">
                    <div class="title">
                        СТОИМОСТЬ УСЛУГ
                    </div>
                </div>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <img src="images\icon\money.svg" alt="">
                        <div class="text">
                            <div class="description">
                                Стоимость услуг по подбору сотрудника и закрытию одной вакансии составляет 10% от
                                предполагаемой годовой зарплаты работника.
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images\icon\money.svg" alt="">
                        <div class="text">
                            <div class="description">
                                Предоплата за оказание услуг составляет 30% от суммы и вносится в течение 3 рабочих дней
                                с момента заключения договора.
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images\icon\money.svg" alt="">
                        <div class="text">
                            <div class="description">
                                Остаток суммы по договору оплачивается после 5 дней, отработанных новым сотрудником.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header_item"></div>
        <div class="header_item2"></div>
        <div class="bottom">
            <div class="header">

                <div class="text">
                    <div class="title">
                        Гарантии
                    </div>
                    <div class="description">
                        Все эти моменты согласуем с вами и подробно опишем в договоре:
                    </div>
                </div>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <img src="images\icon\medal.svg" alt="">
                        <div class="text">
                            <div class="description">
                                Предоставим первых кандидатов в течение 5 рабочих дней после внесения предоплаты.
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images\icon\medal.svg" alt="">
                        <div class="text">
                            <div class="description">
                                Найдём новых кандидатов по уточнённым требованиям после «тестовой партии».
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images\icon\medal.svg" alt="">
                        <div class="text">
                            <div class="description">
                                Заменим кандидата в течение гарантийного срока, если не сработаетесь.
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images\icon\medal.svg" alt="">
                        <div class="text">
                            <div class="description">
                                Если замен потребуется слишком много, то доработаем вакансию и найдём подходящего
                                кандидата.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="page-7">
        <div class="header">
            <div class="header_item"></div>
            <div class="header_item2"></div>
            <div class="content">
                <div class="text">
                    <div class="title">
                        Отзывы о нашей работе
                    </div>
                </div>
                <div class="icoach">
                    <img src="images\icon\icoach.svg" alt="">
                    <div class="text">
                        <div class="title">
                            Компания Icoach
                        </div>
                        <div class="description">
                            за полгода сотрудничества подобрали 6 сотрудников
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="center">
            <div class="text">
                «Прошло полтора года с момента создания Icoach, и мы приняли решение о расширении штата. Сначала мы
                попытались действовать самостоятельно, но у нас ничего не получилось. Тогда мы наняли сотрудника по
                подбору персонала: нам казалось, что иметь собственного рекрутёра — это выгодно. В итоге мы потратили
                сил и средств больше, чем получили пользы. Ведь рекрутёр — это тот же сотрудник, и ему надо платить
                заработную плату, даже если работы на текущий момент нет. Тогда поняли: мы готовы заплатить за то, что
                всё сделают за нас — быстро и качественно. Мы обратились в Крутинг, заключили договор, и они в короткие
                сроки привели нам кандидатов, которые НЕ подошли нам! Оказалось, что мы сами неправильно сформулировали
                требования к соискателям. Ребята из Крутинга без вопросов помогли переписать вакансии и привели новых
                кандидатов. Так мы быстро нашли новых сотрудников, которые работают до сих пор и приносят доход нашей
                компании.
            </div>
            <div class="note">
                Мы заплатили за конкретную качественно выполненную работу, отсюда вывод — сотрудничать с профессионалами
                выгодно!»
            </div>
        </div>
        <div class="header_item"></div>
        <div class="header_item2"></div>
        <div class="bottom">
            <div class="header">

                <div class="text">
                    <div class="title">
                        УЖЕ ГОТОВЫ К СОТРУДНИЧЕСТВУ ИЛИ ОСТАЛИСЬ ВОПРОСЫ?
                    </div>
                    <div class="description">
                        Свяжитесь с нами удобным для вас способом!
                    </div>
                </div>
            </div>
            <div class="contact">
                <div class="email">
                    <img src="images\icon\calendar.svg" alt="">
                    kruting@icoach.io
                </div>
                <div class="phone">
                    <img src="images\icon\phone.svg" alt="">
                    +74951282015
                </div>
            </div>
        </div>
    </section>
</body>

</html>