<footer>
  <div class="block b-footer b-odd py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p><a href="/agreements" target="_blank">Правовая информация</a></p>
          <p><a href="/privacy" target="_blank">Политика конфиденциальности</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>