<% 
  if (env === 'dev') { path = 'dist/' } else { path = '/' } 
  include('../_data.ejs');
%>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="<%- page.meta.keywords %>" />
  <meta name="description" content="<%- (page.meta.description) ? page.meta.description : site.description %>" />
  <meta name="author" content="<%- site.name %>">

  <meta property="og:locale" content="ru_RU" />
  <meta property="og:title" content="<% if (page.title) { %><%- page.title %><% } else { %><%- site.title %><% } %>" />
  <meta property="og:url" content="<%- site.url %><%= page.permalink %>" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%- path + page.meta.image %>" />
  <meta property="og:description" content="<%- (page.meta.description) ? page.meta.description : site.description %>" />
  <meta http-equiv="Cache-Control" content="no-cache">
  <link rel="image_src" href="<%- path + page.meta.image %>" />
  <link rel="icon" type="image/x-icon" href="<% if (env === 'dev') { %>dist/images<% } %>/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="<% if (env === 'dev') { %>dist/images<% } %>/favicon.ico" />
  <link rel="apple-touch-icon" sizes="120x120" href="<% if (env === 'dev') { %>dist/images<% } %>/apple-touch-icon-120x120.png">

  <title><% if (page.title) { %><%- page.title %><% } else { %><%- site.title %><% } %></title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="<%- path %>main.min.css">
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '<%= site.analytics.facebook_pixel_id %>');
    fbq('track', "PageView");

  </script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=<%= site.analytics.facebook_pixel_id %>&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.analytics.google_tracking_id %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '<%= site.analytics.google_tracking_id %>');
  </script>

</head>
