<header>
  <div class="block b-odd py-5">
    <div class="container py-5">
      <h1>
      	<img src="images/logo.jpg" width="130" alt="logo"> 
      	<% if (page.title) { %><%- page.title %><% } else { %><%- site.title %><% } %>
      </h1>
    </div>
  </div>
</header>