<% 
  if (env === 'dev') { path = 'dist/' } else { path = '/' } 
  include('../_data.ejs');
%>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="<%- page.meta.keywords %>" />
  <meta name="description" content="<%- (page.meta.description) ? page.meta.description : site.description %>" />
  <meta name="author" content="<%- site.name %>">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Cache-Control" content="private">
  <meta property="og:locale" content="ru_RU" />
  <meta property="og:title" content="<% if (page.title) { %><%- page.title %><% } else { %><%- site.title %><% } %>" />
  <meta property="og:url" content="<%- site.url %><%= page.permalink %>" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%- path + page.meta.image %>" />
  <meta property="og:description" content="<%- (page.meta.description) ? page.meta.description : site.description %>" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="image_src" href="<%- path + page.meta.image %>" />
  <link rel="icon" type="image/x-icon" href="<% if (env === 'dev') { %>dist/images<% } %>/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="<% if (env === 'dev') { %>dist/images<% } %>/favicon.ico" />
  <link rel="apple-touch-icon" sizes="120x120" href="<% if (env === 'dev') { %>dist/images<% } %>/apple-touch-icon-120x120.png">

  <title><% if (page.title) { %><%- page.title %><% } else { %><%- site.title %><% } %></title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="<%- path %>main.min.css">
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '<%= site.analytics.facebook_pixel_id %>');
    fbq('track', "PageView");

  </script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=<%= site.analytics.facebook_pixel_id %>&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.analytics.google_tracking_id %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '<%= site.analytics.google_tracking_id %>');
  </script>

</head>
<body>

  <div class="block py-5">
    <div class="container py-5">
      <a href="/"><img src="../../images/logo.jpg" width="130" alt="logo"></a>
      <div class="row justify-content-md-center">
        <div class="col col-md-10">
          <h1 class="mt-5 text-center"><%- page.header_title %></h1>
          <p class="lead text-center"><%- page.header_subtitle %></p>
          <% if (page.offerdownload) { %><p class="card-text"><a href="<%- page.offerdownload %>" target="_blank">Скачать коммерческое предложение</a></p><% } %>
          <h2 class="mt-5">Зачем вам это</h2>
          <p><%- page.why %></p>
          <% 
            if (page.options.length) { 
              page.options.forEach(function (option,z) { 
          %>
          <% z=z+1 %>
            <h2 class="mt-5"><%- option.title %></h2>
            <p class="lead"><%- option.desc %></p>
            <ul>
              <% option.contents.forEach(function (item) { %>
                <li><%- item %></li>
              <% }); %>
            </ul>
            <h3 class="mt-5">Сколько стоит</h3>
            <div class="row">
              <% option.prices.forEach(function (item) { %>
                <% z=z + 5 %>
                <div class="col-md py-2">
                  <div class="card card-body h-100">
                    <% if (item.title) { %><p class="card-text"><%- item.title %></p><% } %>
                    <% if (item.price) { %>
                  <script>
               
                  function price() {
                    let  
                      amount = "<%= item.price %>",
                      currency = "USD",    
                      productName = "<%= page.title%>", 
                      productId = "<%= page.wfname%>";
                      $.ajaxSetup({ cache: false });
                    $.getJSON('https://icoach.io/wayforpay-sign.php?amount=' + amount + '&currency=' + currency + '&productName=' + productName + '&productId=' + productId, function (data) {
                      $.each(data, function (key, val) {
                        $('#myform<%- z %>').append('<input type="hidden" value="' + val + '"' + 'name="' + key + '">');
                        
                      });
                     
                    });
                  }
                  price();
                  </script>
                <form method="POST" action="https://secure.wayforpay.com/pay" id="myform<%- z %>" style="display:flex;flex-direction:column;">
                  <% if (item.price) { %><input class="btn card-link btn-primary" type="submit" value="Купить за $<%- item.price %>"><% } %>
                </form>
                  <% } %>

                <% if (item.downpayment) { %>
                  <script>
               
                  function downpayment() {
                    let  
                      amount = "<%= item.downpayment %>",
                      currency = "USD",    
                      productName = "<%= page.title%>", 
                      productId = "<%= page.wfname%>";
                      $.ajaxSetup({ cache: false });
                    $.getJSON('https://icoach.io/wayforpay-sign.php?amount=' + amount + '&currency=' + currency + '&productName=' + productName + '&productId=' + productId, function (data) {
                      $.each(data, function (key, val) {
                        $('#myform<%- z %>').append('<input type="hidden" value="' + val + '"' + 'name="' + key + '">');
                      });
                    });
                  }
                  
                  downpayment();
                  </script>
                <form method="POST" action="https://secure.wayforpay.com/pay" id="myform<%- z  %>" style="display:flex;flex-direction:column;">
                  <% if (item.downpayment) { %><input class="btn card-link btn-primary" type="submit" value="Внести предоплату $<%- item.downpayment %>"><% } %>
                </form>
                  <% } %>

                </form>
                  </div>
                </div>
              <% }); %>
            </div>
            <% if (option.warranty.length) { %>
              <h3 class="mt-5">Гарантии</h3>
              <ul>
                <% option.warranty.forEach(function (item) { %>
                  <li><%- item %></li>
                <% }); %>
              </ul>
            <% } %>
          <hr class="mt-5"/>  
        <% }); } else { %>
          <h2 class="mt-5">Что входит</h2>
          <ul>
          <% 
            if (page.contents.length) { 
              page.contents.forEach(function (item) { 
          %>
            <li><%- item %></li>
          <% 
              });
            } 
          %>
          </ul>
          <% if (page.result) { %>
            <h2 class="mt-5">Результат</h2>
            <p class="lead"><%- page.result %></p>
          <% } %>
          <h2 class="mt-5">Сколько стоит</h2>
          <div class="row">
          <% 
            if (page.prices.length) { 
              page.prices.forEach(function (item,z) {
            %>
            <% z=z+1 %>
            <div class="col-md py-2">
              <div class="card card-body h-100">
                <% if (item.title) { %><p class="card-text"><%- item.title %></p><% } %>
                <% if (item.price) { %>
                  <script>
               
                  function price() {
                    let  
                      amount = "<%= item.price %>",
                      currency = "USD",    
                      productName = "<%= page.title%>", 
                      productId = "<%= page.wfname%>";
                      $.ajaxSetup({ cache: false });
                    $.getJSON('https://icoach.io/wayforpay-sign.php?amount=' + amount + '&currency=' + currency + '&productName=' + productName + '&productId=' + productId, function (data) {
                      $.each(data, function (key, val) {
                        $('#myform<%- z %>').append('<input type="hidden" value="' + val + '"' + 'name="' + key + '">');
                        
                      });
                     
                    });
                  }
                  price();
                  </script>
                <form method="POST" action="https://secure.wayforpay.com/pay" id="myform<%- z %>" style="display:flex;flex-direction:column;">
                  <% if (item.price) { %><input class="btn card-link btn-primary" type="submit" value="Купить за $<%- item.price %>"><% } %>
                </form>
                  <% } %>

                <% if (item.downpayment) { %>
                  <script>
               
                  function downpayment() {
                    let  
                      amount = "<%= item.downpayment %>",
                      currency = "USD",    
                      productName = "<%= page.title%>", 
                      productId = "<%= page.wfname%>";
                      $.ajaxSetup({ cache: false });
                    $.getJSON('https://icoach.io/wayforpay-sign.php?amount=' + amount + '&currency=' + currency + '&productName=' + productName + '&productId=' + productId, function (data) {
                      $.each(data, function (key, val) {
                        $('#myform<%- z %>').append('<input type="hidden" value="' + val + '"' + 'name="' + key + '">');
                      });
                    });
                  }
                  
                  downpayment();
                  </script>
                <form method="POST" action="https://secure.wayforpay.com/pay" id="myform<%- z  %>" style="display:flex;flex-direction:column;">
                  <% if (item.downpayment) { %><input class="btn card-link btn-primary" type="submit" value="Внести предоплату $<%- item.downpayment %>"><% } %>
                </form>
                  <% } %>

                
              </div>
            </div>
            <% 
                });
              } 
            %>
          </div>

          <% if (page.warranty.length) { %>
          <h2 class="mt-5">Гарантии</h2>
          <ul>
            <% page.warranty.forEach(function (item) { %>
            <li><%- item %></li>
          <% }); %>
          </ul>
          <% } %>
          <%               
            } 
          %>
          <% if (page.cta) { %><p class="lead mt-5 text-center"><%- page.cta %></p><% } %>
        </div>
      </div>
    </div>
  </div>

</body>
  <footer>
  <div class="block b-footer b-odd py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p><a href="/agreements" target="_blank">Правовая информация</a></p>
          <p><a href="/privacy" target="_blank">Политика конфиденциальности</a></p>
        </div>
      </div>
    </div>
  </div>
  

  <!--noindex-->
<% if (site.analytics.yandex_metrica_id) { %>
<!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function(d, w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter <%= site.analytics.yandex_metrica_id %> = new Ya.Metrika({
            id: <%= site.analytics.yandex_metrica_id %>,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true,
            trackHash: true
          });
        } catch (e) {}
      });

      var 
        n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function() { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript>
    <div>
      <img src="https://mc.yandex.ru/watch/<%= site.analytics.yandex_metrica_id %>" style="position:absolute; left:-9999px;" alt="" />
    </div>
  </noscript>
<!-- /Yandex.Metrika counter -->
<% } %>
<% if (site.analytics.vk_retarget_url) { %>
  <script type="text/javascript">
    (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '<%- site.analytics.vk_retarget_url %>';
  </script>
<% } %>
<!--/noindex-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<% if (page.slick_slider) { %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<% } %>
<script src="<%- path %>js/common.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js"></script>

</footer>