<!--noindex-->
<% if (site.analytics.yandex_metrica_id) { %>
<!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function(d, w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter <%= site.analytics.yandex_metrica_id %> = new Ya.Metrika({
            id: <%= site.analytics.yandex_metrica_id %>,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true,
            trackHash: true
          });
        } catch (e) {}
      });

      var 
        n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function() { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript>
    <div>
      <img src="https://mc.yandex.ru/watch/<%= site.analytics.yandex_metrica_id %>" style="position:absolute; left:-9999px;" alt="" />
    </div>
  </noscript>
<!-- /Yandex.Metrika counter -->
<% } %>
<% if (site.analytics.vk_retarget_url) { %>
  <script type="text/javascript">
    (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '<%- site.analytics.vk_retarget_url %>';
  </script>
<% } %>
<!--/noindex-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<% if (page.slick_slider) { %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<% } %>
<script src="<%- path %>js/common.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js"></script>