* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}
$red: #f71d00;
$black: #252525;
.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30.57px;
  line-height: 107%;
}
.description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $black;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 600px;
  min-height: 167px;
  z-index: 1;
  overflow-x: hidden;
  // margin-bottom: 25%;
  position: relative;
  .header_item {
    position: absolute;
    width: 41px;
    height: 41px;
    background: #f71d00;
    border: 99px solid #f2f2f2;
    border-radius: 100%;
    left: -81px;
    top: -40px;
    // top: 38px;
    z-index: -1;
  }
  .header_item2 {
    position: absolute;
    width: 41px;
    height: 41px;
    background: transparent;
    border: 51px solid #ffffff;
    border-radius: 100%;
    left: -32px;
    top: 9px;
    z-index: -1;
  }
  padding: 32px 40px 0px 40px;
  .header_left {
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 304px;
    min-width: 304px;
    min-width: 304px;
    /* flex: 0 0 70%; */
    margin-right: 40px;
    align-self: flex-start;
  }
  .header_right {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 205px;
    align-self: flex-start;
    /* flex: 0 0 30%; */

    .phone {
      width: 200px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      img {
        margin-right: 10px;
      }
    }
    .email {
      width: 200px;
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
  }
}
section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  justify-content: space-between;
  box-sizing: border-box;
}
.content {
  width: 100%;
  .content_top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 118%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #000000;
      text-align: center;
      margin-bottom: 20px;
      .first {
        margin-right: 33%;
      }
      .two {
        margin-left: 33%;
      }
    }
    .description {
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 27px;
      color: #252525;
      width: 367px;
    }
  }
}
.bottom {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  .around {
    display: flex;
    position: absolute;
    width: 783.19px;
    height: 783.19px;
    background: #fc1e00;
    border: 70px solid rgba(242, 242, 242, 1);
    /* transform: rotate(-14.59deg); */
    /* font-family: Arial; */

    border-radius: 100%;
    .title {
      width: 100%;
      text-align: center;
      margin-top: 70px;
      font-family: Arial;
      font-weight: bold;
      font-size: 180px;
      line-height: 198px;
      letter-spacing: -0.155em;
      color: #ffffff;
      text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.13);
      margin-left: -6px;
    }
  }
}

.page-2 {
  padding-bottom: 10px;
  padding-right: 47px;
  padding-left: 47px;
  .page-2_header {
    position: relative;
    width: 100%;
    display: flex;

    .header_item {
      position: absolute;
      width: 41px;
      height: 41px;
      background: #f71d00;
      border: 99px solid #f2f2f2;
      border-radius: 100%;
      left: -170px;
      top: -40px;
      // top: 38px;
      z-index: -1;
    }
    .header_item2 {
      position: absolute;
      width: 41px;
      height: 41px;
      background: transparent;
      border: 51px solid #ffffff;
      border-radius: 100%;
      left: -120px;
      top: 9px;
      z-index: -1;
    }
    .title {
      padding-top: 31px;
      font-size: 25px;
      width: 305px;
      padding-left: 47px;
      margin-bottom: 23px;
      .big {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 32.567px;
        // line-height: 99%;
      }
    }
    .description {
      width: 305px;
      padding-left: 47px;
    }
    // margin-bottom: 30px;
  }
  .page-2_center {
    .text {
    }
    .title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 128%;
      max-width: 456px;
      letter-spacing: 0.01em;
      margin-bottom: 20px;
      color: #fc1e00;
    }
    .description {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 29px;
      /* or 153% */
      padding: 22px 51px;
      border: 10px solid #efefef;
      box-sizing: border-box;
      border-radius: 40px;
      color: #252525;
    }
  }
  .page-2_bottom {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
    .description {
    }
  }
}
.page-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 40px;
  .page-3_header {
    position: relative;
    .header_item {
      position: absolute;
      width: 41px;
      height: 41px;
      background: #f71d00;
      border: 99px solid #f2f2f2;
      border-radius: 100%;
      left: -162px;
      top: -87px;
      // top: 38px;
      z-index: -1;
    }
    .header_item2 {
      position: absolute;
      width: 41px;
      height: 41px;
      background: transparent;
      border: 51px solid #ffffff;
      border-radius: 100%;
      left: -115px;
      top: -38px;
      z-index: -1;
    }
    .text {
      display: flex;
      align-items: center;
      .title {
        width: 265px;
        margin-right: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 32.567px;
        line-height: 99%;
        color: #000000;
      }
      .description {
        width: 220px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        /* or 150% */

        color: #252525;
      }
    }
  }
}
.page-3_center {
  display: flex;
  flex-direction: column;
  .title {
    font-family: Montserrat;
    font-style: normal;

    font-size: 23px;
    line-height: 128%;
    /* or 29px */
    margin-top: 5%;
    letter-spacing: 0.01em;

    color: #252525;
    span {
      font-weight: 600;
      color: $red;
    }
  }
  .description {
    width: 339px;
    align-self: flex-end;
    margin-top: 5%;
  }
}
.page-3_bottom {
  .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 26px;
    /* or 153% */

    text-align: center;

    color: #252525;
  }
}
.page-4 {
  height: 100%;
  padding: 0px 40px 33px;
  box-sizing: border-box;
  justify-content: normal;
  .header {
    .header_item {
      top: -62px;
    }
    .header_item2 {
      top: -15px;
    }
    .text {
      width: 100%;
      align-self: flex-start;
      margin-left: 30px;
      .title {
        width: 330px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 32.567px;
        line-height: 99%;
        color: #000000;
      }
    }
  }
  .center {
    z-index: 3;
    margin-top: -70px;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 20px;
        .text {
          .title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 128%;
            /* or 19px */

            color: #fc1e00;
          }
          .description {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            /* or 150% */

            color: #252525;
          }
        }
        img {
          align-self: flex-start;
          margin-right: 27px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.page-5 {
  height: 100%;
  padding: 0px 40px 0px;
  box-sizing: border-box;
  justify-content: normal;
  .header{
    .header_item {
    left:-115px;
    }
    .header_item2{
      left:-67px;
    }
    .text{
      width: 100%;
    }
    margin-bottom: 10px;
  }
  .center {
    ul {
      list-style-type: none;
      li {
        display: flex;
        .number {
          display: flex;
          align-items: flex-start;
          width: 61px;
          height: inherit;
          margin-right: 11px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 45px;
          line-height: 45px;
          letter-spacing: 0.04em;
          color: #dadada;
          background: url("../images/icon/border.png") no-repeat 50% -60%;
          background-size: 7px;
        }
        .title {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 128%;
          /* or 19px */
          margin-bottom: 13px;
          color: #fc1e00;
        }
        .description {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          /* or 150% */

          color: #252525;
        }
        margin-bottom: 18px;
        &:last-child {
          margin-bottom: 0;
          .text {
            position: relative;
            overflow: hidden;
            .header_item {
              position: absolute;
              width: 41px;
              height: 41px;
              background: #f71d00;
              border: 99px solid #f2f2f2;
              border-radius: 100%;
              left: 80px;
              top: 15px;
              // top: 38px;
              z-index: -1;
            }
            .header_item2 {
              position: absolute;
              width: 41px;
              height: 41px;
              background: transparent;
              border: 51px solid #ffffff;
              border-radius: 100%;
              left: 129px;
              top: 63px;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}
.page-6 {
  justify-content: normal;
  position: relative;
  height: 100%;
  .header_item {
    position: absolute;
    width: 41px;
    height: 41px;
    background: #f71d00;
    border: 99px solid #f2f2f2;
    border-radius: 100%;
    left: -20%;
    top: 35%;
    // top: 38px;
    z-index: -1;
  }
  .header_item2 {
    position: absolute;
    width: 41px;
    height: 41px;
    background: transparent;
    border: 51px solid #ffffff;
    border-radius: 100%;
    left: -12%;
    top: 41%;
    z-index: -1;
  }
  .header {
    align-items: flex-start;
    justify-content: flex-start;
    
  }
  .top {
    height: 100%;
    width: 100%;
    position: relative;
    .header_item {
      position: absolute;
      width: 41px;
      height: 41px;
      background: #f71d00;
      border: 99px solid #f2f2f2;
      border-radius: 100%;
      left: -115px;
      top: -40px;
      // top: 38px;
      z-index: -1;
    }
    .header_item2 {
      position: absolute;
      width: 41px;
      height: 41px;
      background: transparent;
      border: 51px solid #ffffff;
      border-radius: 100%;
      left: -68px;
      top: 9px;
      z-index: -1;
    }
    .header{
      .text{
        .title{
          margin-top: 10%;
        }
      }
    }
    .content{
      margin-top: -12%;
      ul{
        li{
          margin-bottom: 20px;
        }
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    // margin-top: -35%;
    .header{
      padding-top: 0;
      min-height: auto;
      margin-bottom: 30px;
      .header_item {
        position: absolute;
        width: 41px;
        height: 41px;
        background: #f71d00;
        border: 99px solid #f2f2f2;
        border-radius: 100%;
        left: -115px;
        top: -40px;
        // top: 38px;
        z-index: -1;
      }
      .header_item2 {
        position: absolute;
        width: 41px;
        height: 41px;
        background: transparent;
        border: 51px solid #ffffff;
        border-radius: 100%;
        left: -68px;
        top: 9px;
        z-index: -1;
      }
      .text{
        .title{
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        .description{
          font-weight: bold;
        }
      }
    }
  }
  .content {
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      li {
        display: flex;
        width: 480px;
        justify-content: flex-end;
        margin-bottom: 20px;
        img {
          margin-right: 20px;
        }
      }
    }
  }
}
.page-7 {
  // height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  position: relative;
  .header_item {
    position: absolute;
    width: 41px;
    height: 41px;
    background: #f71d00;
    border: 99px solid #f2f2f2;
    border-radius: 100%;
    left: -20%;
    top: 65%;
    // top: 38px;
    z-index: -1;
  }
  .header_item2 {
    position: absolute;
    width: 41px;
    height: 41px;
    background: transparent;
    border: 51px solid #ffffff;
    border-radius: 100%;
    left: -12%;
    top: 70%;
    z-index: -1;
  }
  .header {
    overflow: hidden;
    .header_item {
      position: absolute;
      width: 41px;
      height: 41px;
      background: #f71d00;
      border: 99px solid #f2f2f2;
      border-radius: 100%;
      left: -20%;
      top: -40%;
      // top: 38px;
      z-index: -1;
    }
    .header_item2 {
      position: absolute;
      width: 41px;
      height: 41px;
      background: transparent;
      border: 51px solid #ffffff;
      border-radius: 100%;
      left: -12%;
      top: -16%;
      z-index: -1;
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -30px;
      > .text {
        margin-bottom: 20px;
        .title {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 30.57px;
          line-height: 107%;
          text-transform: uppercase;
          color: #000000;
        }
      }
      .icoach {
        display: flex;
        img {
          margin-right: 20px;
        }
        .text {
          width: 284px;
          .title {
            font-family: Montserrat;
            font-weight: bold;
            font-size: 25px;
            line-height: 24px;
            color: #f71d00;
          }
        }
      }
    }
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      width: 450px;
      font-family: Montserrat;
      font-style: normal;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    .note {
      width: 450px;
      font-weight: bold;
      color: #252525;
      font-size: 12px;
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    .header {
     
      padding: 0;
      .title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22.57px;
        line-height: 136%;
        margin-bottom: 20px;
        /* or 31px */

        color: #000000;
      }
      .description {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */

        color: #f71d00;
      }
    }
    .contact {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      line-height: 24px;
      /* identical to box height, or 104% */
      display: flex;
      justify-content: space-between;
      text-align: center;

      color: #252525;
      .email,
      .phone {
        display: flex;
        img {
          width: 40px;
          height: 40px;
          margin-right: 12px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .page-1{
    .header{
      flex-direction: column;
      align-items: center;
      .header_left,.header_right{
        margin: auto;
      }
    }
    .content .content_top .title{
      font-size: 33px;
    }
    .content .content_top .title .first{
      margin-right: 0;
    }
    .content .content_top .title .two{
      margin-left: 0;
    }
    .bottom .around .title{
      font-size: 6rem;
    }
  }
  .page-2 {
    padding: 0;
  }
  .page-2 .page-2_header {
    justify-content: center;
    img {
      display: none;
    }
  }
  .page-2 .page-2_header .title{
    padding-left: 0;
    margin: 0 auto 23px;
  }
  .page-2 .page-2_header .description{
    padding-left: 0;
  }
  .page-2 .page-2_center .title{
    margin: 0 auto 20px;

  }
  .page-3 .page-3_header .text .title{
    max-width: 265px;
    margin-right: 0;
  }
  .page-3 .page-3_header .text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-3_center{
    width: 100%;
    .description{
      width: 100%;
    }
  }
  .page-3_bottom{
    .title{
      width: 100%;
      height: 100%;
      display: flex;
    }
  }
  .page-4 .center ul li img{
    margin-right: 10px;
  }
  .page-5 .center ul li .number{
    background: none;
  }
  .page-6 .header_item{
    left: -29%;
    top: 35%;
  }
  .page-6 .header_item2{
    left:-18%;
    top:41%;
  }
  .page-7 .header .header_item{
    left: -29%;
    top: -43%;
  }
  .page-7 .header .header_item2{
    left:-18%;
    top:-20%;
  }
  .page-7 .header_item{
    left: -29%;
    top: 65%;
  }
  .page-7 .header_item2{
    left: -18%;
    top: 71%;
  }
}
