<!DOCTYPE html>
<html lang="ru">
<%
  page = {
    title: 'Прогревочная рассылка писем в чате или по электронной почте', // Если пустое значение будет использовано значение site.title
    permalink: '/warmup-series/', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
    header_title: 'Прогревочная рассылка писем в чате или по электронной почте',
    header_subtitle: 'С помощью серии писем актуализируем потребность или реактивируем боль, знакомим с вами и показываем вашу экспертность, готовим к мысли о покупке основного продукта ещё до бесплатного первого шага',
    why: 'Вместо работы с холодными сомневающимися клиентами, вы будете легко продавать на горячую аудиторию, уже готовую покупать',
    wfname:'warmupseries',
    options:[],
    contents:[
      'Интервью с маркетологом для сбора информации для писем',
      'Разработка и согласование сути писем',
      'Разработка продающего текста каждого письма',
      'Настройка чатбота или емейл-сервиса для автоматической отправки серии'
      ],
    prices:[
      {
        title: '',
        payref: 'https://secure.wayforpay.com/button/b2e08cd45af89',//ссылка для оплаты продукта через wayforpay
        price: '300', //цена
        downpayment: '' //предоплата
      }
    ],
    result:'',
    warranty:[],
    cta:'',
    meta: {
      keywords: '',
      description: '', // Если пустое значение будет использовано значение client.description
      image: ''
    },
    offerdownload:''//путь к pdf файлу
  };
  //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
  page_nesting_level = (page.permalink.match(/\//g) || []).length;
  if (page.permalink !== '/') { 
    subfolder = '../';
    if (page_nesting_level > 2) {
      subfolder = subfolder.repeat(page_nesting_level - 1);
    }
  } else { subfolder = '' } 
%>
  <%- include(subfolder + 'template-parts/_product.ejs') %>
</html>