<%# 
  Данные о сайте, которые должны быть доступны на всех страницах.
  _data содержит объект:
  site (данные сайта в целом, одинаковые для всех страниц, напр. коды аналитики и другие технические данные);
%>
<% 
  site = {
    name: 'Каталог продуктов',
    description: '',
    url: 'http://course.icoach.io',
    title: '', // Глобальный заголовок для всех страниц сайта. В файлах каждой страницы его можно заменить на локальный в page.title
    vk_group_id: '',
    analytics: {
      // ID аккаунтов для включения в коды счетчиков
      facebook_pixel_id: '1064201373633710',
      google_tracking_id: 'UA-89298735-1', //код всегда одинаковый, для всех проектов
      yandex_metrica_id: '',
      vk_retarget_url: '',
      fb_group_id: '357372671309678'
    },
    event: {
      // Данное поле перенесено из Jekyll шаблона, но оно нигде не использовалось
      textdate: '' //убрать hidden-xs
    },
    modified_bootstrap_styles: false, // Если false - на страницу будут добавлены стандартные стили bootstrap.min.css из CDN. 
  }; 
%>