<!DOCTYPE html>
<html lang="ru">
  <%
    page = {
      title: 'Каталог продуктов', // Если пустое значение будет использовано значение site.title
      permalink: '/', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      header_title: 'Курс по&nbsp;продажам',
      header_subtitle: 'Выберем из нескольких возможных вариантов вашего продукта или первого шага самый популярный',
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение product.description
        image: ''
      }
    };
    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' } 
  %>
  <%- include(subfolder + 'template-parts/_content.ejs') %>

</html>