* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* max-width: 940px; */
    padding:35px 40px 0px 40px;
}

.header_left {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 100%;    
    min-width: 304px;
    /* flex: 0 0 70%; */
}

.header_right {
    width: 100%;
    /* max-width: 291px; */
    /* flex: 0 0 30%; */
}
.header_right .phone{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.header_right .email{
    display: flex;
    align-items: center;
}
.header_right .phone img,.header_right .email img{
    margin-right: 10px;
}
.page-1{
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    height: 100vh;
    width: 600px;
    margin: 0 auto;
    /* padding: 10px; */
    /* box-sizing: border-box; */
    overflow: hidden;
}
.content{
    width: 100%;
}
.content_top{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content_top .title {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 118%;
    /* or 53px */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 17px;
    margin-top: 121px;
}
.content_top .title .first{
    /* display: block; */
    align-self: flex-start;
    margin-left: 20%;
}
.content_top .title .two{
    /* display: block; */
    align-self: flex-end;
    margin-right: 20%;
}
.content_top .description {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: #252525;
    width: 367px;
}
.content_bottom{
    display: flex;
    justify-content: center;
}
.around {
    display: flex;
    /* position: absolute; */
    width: 783.19px;
    height: 783.19px;
    background: #FC1E00;
    border: 100px solid rgba(242, 242, 242, 1);
    /* transform: rotate(-14.59deg); */
    /* font-family: Arial; */
 
    border-radius: 100%;
}
.around > .title{
    font-family: Bebas Neue;

    font-weight: 900;
    font-size: 120px;
    margin-top: 65px;
    color: aliceblue;
}